name: Unit Tests

on: [push, workflow_dispatch]

permissions:
  contents: read
  # pull-requests: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
          submodules: true
          show-progress: false
          token: ${{ secrets.PDF_PARSE_PRO}}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "22"
          package-manager-cache: true
          cache: "npm"
          cache-dependency-path: package.json

      - name: Install
        run: npm i --prefer-offline --no-audit --no-fund --silent

      - name: Run All Tests
        run: npm run test:all
